@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  font-family: 'Montserrat';
  margin: 0;
}

body a,
html a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

.header .logo {
  color: #000;
  font-weight: bold;
}

.header .menu-btn {
  width: 18px;
  cursor: pointer;
}

.hero {
  height: calc(100vh - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .section-hero {
  padding: 4rem;
}

.hero .section-hero h1 {
  margin: 1rem auto;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .hero .section-hero h1 {
    font-size: 3rem;
  }
}

.hero .section-hero h1::before {
  padding-top: 10px;
  content: ' ';
  border-top: 5px solid lightgray;
  display: block;
}

.hero .section-hero h1::after {
  padding-bottom: 10px;
  content: ' ';
  border-bottom: 5px solid lightgray;
  display: block;
}

.overlay-nav {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100vh;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.overlay-nav .overlay-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.overlay-nav .close-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 18px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.overlay-nav ul {
  list-style-type: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  width: 80%;
  text-align: center;
}

@media (max-width: 960px) {
  .overlay-nav ul {
    grid-gap: 30px;
  }
  .overlay-nav ul .list-items span {
    margin-top: 10px;
  }
}

.overlay-nav li {
  visibility: hidden;
  opacity: 0;
}

.overlay-nav a {
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
}

.overlay-nav span {
  color: gray;
  display: block;
  font-size: 1rem;
  margin-top: 20px;
}

/**
 * ------------------------------------------
 * animations
 * ------------------------------------------
 */
.show-menu {
  -webkit-animation: slide-menu 0.7s ease-in forwards;
          animation: slide-menu 0.7s ease-in forwards;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.remove-menu {
  -webkit-animation: slide-menu-close 0.3s ease-in forwards;
          animation: slide-menu-close 0.3s ease-in forwards;
}

@-webkit-keyframes slide-menu-close {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slide-menu-close {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.overlay-nav.show-menu .close-btn {
  -webkit-animation: show-x 1s 2s forwards;
          animation: show-x 1s 2s forwards;
}

.overlay-nav.show-menu .list-items:nth-of-type(1) {
  -webkit-animation: menu-item-anim 0.6s forwards 1s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1s ease-in-out;
}

.overlay-nav.show-menu .list-items:nth-of-type(2) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.2s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1.2s ease-in-out;
}

.overlay-nav.show-menu .list-items:nth-of-type(3) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.4s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1.4s ease-in-out;
}

.overlay-nav.show-menu .list-items:nth-of-type(4) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.6s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1.6s ease-in-out;
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=main.css.map */